pkgbase = osd-desk-snake
	pkgdesc = Kara-style on-screen indicator for KDE Plasma 6 virtual desktop switches
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/rcspam/osd-desk-snake
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = gettext
	depends = kwin
	depends = kirigami
	depends = kdeclarative
	depends = ksvg
	depends = qqc2-desktop-style
	depends = kconfig
	depends = ki18n
	depends = kwindowsystem
	depends = qt6-base
	depends = qt6-declarative
	depends = glibc
	depends = gcc-libs
	source = osd-desk-snake-0.1.0.tar.gz::https://github.com/rcspam/osd-desk-snake/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 6a5518ce9b932d9da0de4cea51bb1d355cc8ea73d854fd30257ca793ffb5c7cf

pkgname = osd-desk-snake
