pkgbase = osd-desk-snake
	pkgdesc = Kara-style on-screen indicator for KDE Plasma 6 virtual desktop switches
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/rcspam/osd-desk-snake
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = gettext
	depends = kwin
	depends = kirigami
	depends = ksvg
	depends = qqc2-desktop-style
	depends = kconfig
	depends = ki18n
	depends = kwindowsystem
	depends = qt6-base
	depends = qt6-declarative
	depends = glibc
	depends = gcc-libs
	source = osd-desk-snake-0.2.1.tar.gz::https://github.com/rcspam/osd-desk-snake/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = 10f0f8b3e3f73f01dcfca8ca0734a7a7c041cbf70eb633dde2aa1dd7aa084eaf

pkgname = osd-desk-snake
