pkgbase = osd-desk-snake
	pkgdesc = Kara-style on-screen indicator for KDE Plasma 6 virtual desktop switches
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/rcspam/osd-desk-snake
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = gettext
	depends = kwin
	depends = kirigami
	depends = ksvg
	depends = qqc2-desktop-style
	depends = kconfig
	depends = ki18n
	depends = kwindowsystem
	depends = qt6-base
	depends = qt6-declarative
	depends = glibc
	depends = gcc-libs
	source = osd-desk-snake-0.2.0.tar.gz::https://github.com/rcspam/osd-desk-snake/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 1918fdcc3ad3a3f879b0f669e254a33110e6fbf9a5f5cddd3a220606b90f836b

pkgname = osd-desk-snake
